.vita-img {
    margin: 20px;
    width: 196px;
    float: right;
    border-radius: 12px;
}

a {
    text-decoration: none;
}

h2 {
    margin-bottom: 20px;
}

td {
    padding-bottom: 30px;
    top: 0pt;
}

.table-year {
    padding-right: 20px;
    top: 0px;
    text-align: left;
    vertical-align: top;
}
